<h1>NOTHS errors</h1>

<h2>Today</h2>

<% @errors.each do |error| %>
    <div class="error">
        <span class="error-count"><%= error[:honeybadger_error_id] %></span>
        <span class="error-message"><%= error[:message] %></span>
        <span class="error-created-at"><%= error[:created_at] %></span>
    </div>
<% end %>

<ul>
    <% @errors.each do |error| %>
        <li><%= error[:honeybadger_error_id] %> -----  <%= error[:message] %> -----  <%= error[:created_at] %></li>
    <% end %>
</ul>